<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link rel="stylesheet/less" type="text/css" href="__PUBLIC__/static/styles/less/index.less">
    <link href="__PUBLIC__/static/styles/less/apply.less" rel="stylesheet/less">
    <script src="__PUBLIC__/static/lib/less-3.9.0.js"></script>
    <script src="__PUBLIC__/static/lib/jquery-3.4.1.js"></script>    
    <link href="__PUBLIC__/static/lib/layui/css/layui.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/layui/layui.js"></script>

</head>
<body>
    <header >
        <div id="system-name">
            商学院自主报账系统
        </div>
        <ul class="layui-nav " lay-filter="">
            <li class="layui-nav-item">
              <a href="javascript:;">用户名</a>
              <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人资料</a></dd>
                <dd><a href="">注销</a></dd>
              </dl>
            </li>
        </ul>
    </header>
    <main>
        <div id="menu">
            <ul class="" lay-filter="test">
                <li class="menu-item bg-dark">
                    <div class="hover-label"></div>
                    <a id="apply" >申请报销</a>
                </li>
                <li class="menu-item">
                    <div class="hover-label"></div>
                    <a id="applying">申请中</a>
                </li>
                <li class="menu-item">
                    <div class="hover-label"></div>
                    <a id="applied">报销结果</a>
                </li>
                <li class="menu-item">
                    <div class="hover-label"></div>
                    <a id="profile">个人资料</a>
                </li>
            </ul>
        </div>
        <div id="window">
            <div id="page">
                <header>
                    <span>申请报销 > </span>
                    <span class="current">选择类型</span>
                </header>
                <div id="content">
                    <form id="form-1" class="layui-form" action="">
                        日期选择
                        <div class="layui-form-item">
                            <label for="layui-form-label">日期</label>
                            <div class="layui-inline"> 
                                <input type="text" class="layui-input" id="date" autocomplete="false">
                            </div>
                        </div>
                        专业选择
                        <div class="layui-form-item" id='major'>
                            <label class="layui-form-label">专业</label>
                            <div class="layui-input-block">
                            <select name="major" lay-verify="required" >
                                <option value="">请选择</option>
                                <option value="1">计算机与科学</option>
                                <option value="2">物联网工程</option>
                                <option value="3">软件工程</option>
                            </select>
                            </div>
                        </div>
                        报销类型
                        <div class="layui-form-item" id='type'>
                            <label class="layui-form-label">报销类型</label>
                            <div class="layui-input-block">
                            <select name="type" lay-verify="required" >
                                <option value=""></option>
                                <option value="1">质量工程</option>
                                <option value="2">学术讲座</option>
                                <option value="3">专业建设活动</option>
                                <option value="4">实习基地扩展</option>
                                <option value="5">实践教学经费</option>
                                <option value="6">学生活动经费</option>
                            </select>
                            </div>
                        </div>
                        <button type="button" id="next" class="layui-btn ">下一步</button>
                    </form>
                    <form id='form-2' class="layui-form" >
                        <div class="layui-form-item" id='major'>
                            <div class="layui-form-item">
                                <label class="layui-form-label">办公费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">招待费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload-2">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">会议费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload-3">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">培训费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload-4">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                                <span>需附带新闻稿，邀请函</span>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">学生活动费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload-5">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                                <span>需附带新闻稿</span>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">学生竞赛费</label>
                                <div class="layui-input-inline">
                                <input type="text" name="" placeholder="总消费（元）" autocomplete="off" class="layui-input">
                                </div>
                                <button type="button" class="layui-btn layui-bg-gray" id="upload-6">
                                    <i class="layui-icon">&#xe67c;</i>上传发票
                                </button>
                                <span>需附带比赛证明，获奖情况，邀请函</span>
                            </div>
                        </div>
                        <button type="button" id="back" class="layui-btn ">上一步</button>
                        <button type="button" id="submit" class="layui-btn ">提交</button>
                            
                    </form>
                    
                </div>
            </div>
        </div>
    </main>


    <script>
        ///////////////////////
        layui.use(['laydate','form','upload'], function(){
            var laydate = layui.laydate,
            form = layui.form

            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#date' //指定元素
            });
        });
        $('#next').click(()=>{
            // 切换到上传发票页面
            // 修改内容
            $("header").html(`
                <span>申请报表  > </span>
                <span>选择类型  > </span>
                <span class="current">上传发票</span>
            `)
            $("#form-1")[0].style.display = 'none'
            $("#form-2")[0].style.display = 'block'

            layui.use(['form', 'upload'], function(){
            var form = layui.form,
            upload = layui.upload

            var uploadInst = upload.render({
                elem: '#upload' //绑定元素
                ,url: '/upload/' //上传接口
                ,done: function(res){
                //上传完毕回调
                }
                ,error: function(){
                //请求异常回调
                }
            });
            //监听提交
            form.on('submit(formDemo)', function(data){
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
            });
        })
        $('#back').click(()=>{
            // 切换到上传发票页面
            // 修改内容
            $("header").html(`申请报表 > <span class="current">选择类型</span>`)
            $("#form-1")[0].style.display = 'block'
            $("#form-2")[0].style.display = 'none'
        })


    </script>
</body>
</html>
