<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link href="__PUBLIC__/static/styles/less/login.less" rel="stylesheet/less">
    <script src="__PUBLIC__/static/lib/less-3.9.0.js"></script>
    <script src="__PUBLIC__/static/lib/jquery-3.4.1.js"></script>    
    <link href="__PUBLIC__/static/lib/layui/css/layui.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/layui/layui.js"></script>

</head>
<body>
    <header>
        <span>
            北理珠商学院自主报账系统
        </span>
    </header>
    <main>
        <h1>
            用户登录
        </h1>
        <div class="layui-form" >
            <!-- 帐号 -->
            <div class="input-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">帐号</label>
                    <div class="layui-input-block">
                    <input type="text" name="account" required  lay-verify="required" placeholder="请输入标题"  class="layui-input">
                    </div>
                </div>
            </div>
            
            <!-- 密码 -->
            <div class="input-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required"  placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
         
            <div class="layui-form-item">
                <button style="float: right; margin-right: 20px;" id="login-btn" class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
            </div>
            <a href="regist" style="float: right; margin-right: 20px;">还没有帐号？前往注册</a>

    </main>
    <script>
        let login = (loginData)=>{
            console.log(loginData);
            
        }
        layui.use(['form'], function(){
            var form = layui.form,
            layer= layui.layer
            //监听提交
            form.on('submit(formDemo)', function(data){
                $.ajax({
                    url: "__PUBLIC__/index/user/login",
                    type: "post",
                    data: data.field,
                    success:(response)=>{
                        response = JSON.parse(response)
                        console.log(response)
                        if(response.code!=="0000"){
                            layer.msg(response.msg)
                            return
                        }
                        console.log(response.data)
                        if(response.data !== 1){
                            location.href="admin"
                            return
                        }
                        location.href="index"

                    }
                })
            })
        })
   
    </script>
</body>
</html>