<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="__PUBLIC__/static/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet/less" type="text/css" href="__PUBLIC__/static/styles/less/index.less">
    <link href="__PUBLIC__/static/lib/layui/css/layui.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/less-3.9.0.js"></script>
    <script src="__PUBLIC__/static/lib/layui/layui.js"></script>
    <title>商学院自主报账系统</title>
</head>

<body>
    <header>
        <div id="system-name">
            商学院自主报账系统
        </div>
        <ul class="layui-nav " lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;" id="user-name"></a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="profile">个人资料</a></dd>
                    <dd><a href="" id="logout">注销</a></dd>
                </dl>
            </li>
        </ul>
    </header>
    <main>
        <div id="menu">
            <ul>
                <li class="menu-item">
                    <a href="apply">
                        <span>申请报销</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="applying">
                        <span>申请中</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="applied">
                        <span>报销结果</span>
                    </a>
                </li>
                <li class="menu-item bg-dark">
                    <a href="profile">
                        <span>个人资料</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="page">
            <div id="header">
                <span class="current">个人信息</span>
            </div>
            <div id="content">
                <div class="layui-form-item layui-form-pane">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-inline">
                        <input type="text"  class="layui-input" id="name" disabled>
                    </div>
                </div>
                <div class="layui-form-item layui-form-pane">
                    <label class="layui-form-label">专业</label>
                    <div class="layui-inline">
                        <input type="text"  class="layui-input" id="major" disabled>
                    </div>
                </div>
                <div class="layui-form-item layui-form-pane">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-inline">
                        <input type="text"  class="layui-input" id="phone" disabled>
                    </div>
                </div>
                <button class="layui-btn layui-btn-primary" id="change-msg">修改信息</button>
                <button class="layui-btn " id="change-password">更换密码</button>
            </div>
        </div>
    </main>
    <script>
        layui.use(['element','form'], function () {
                let element = layui.element,
                form = layui.form
        });
        $('#logout').click(()=>{
            $.ajax({
                url: "__PUBLIC__/index/User/logout",
                type: "post",
                success:  (response)=>{
                    response = JSON.parse(response);
                    location.href = "login"
                }
            })
        })
        $('#change-msg').click(()=>{
            
        })
        window.onload = function(){
            $.ajax({
                url: "__PUBLIC__/index/User/getName",
                async:false,
                type: "get",
                success:  (response)=>{
                    response = JSON.parse(response);
                    // 获取失败则跳转dao登录页面
                    if (response.code!== "0000") {
                        location.href = "login";
                        return;
                    }
                    // 获取成功则输出昵称
                    $("#user-name").append(response.data);
                }
            });
            $.ajax({
                url: "__PUBLIC__/index/User/getUserMsg",
                async:false,
                type: "get",
                success:  (response)=>{
                    response = JSON.parse(response);
                    $('#name').val(response.data.name)
                    $('#major').val(response.data.major)
                    $('#phone').val(response.data.phone)
                }
            });

        }

    </script>
</body>
</html>