<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
    <link href="__PUBLIC__/static/styles//less/regist.less" rel="stylesheet/less">
    <script src="__PUBLIC__/static/lib/less-3.9.0.js"></script>
    <script src="__PUBLIC__/static/lib/jquery-3.4.1.js"></script>
    <link href="__PUBLIC__/static/lib/layui/css/layui.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/layui/layui.js"></script>

</head>
<body>
    <main>
        <div id='regist-frame'>
                <h1>
                    用户注册
                </h1>
                <div class="layui-form" action="">
                    <!-- 身份 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份</label>
                        <div class="layui-input-block">
                        <input type="radio" name="job" value="教师" title="教师" checked>
                        <input type="radio" name="job" value="管理员" title="管理员" >
                        </div>
                    </div>

                    <!-- 帐号 -->
                    <div class="input-container">
                        <div class="layui-form-item">
                            <label class="layui-form-label">帐号</label>
                            <div class="layui-input-block">
                            <input type="text" name="account" required  lay-verify="required" placeholder="请输入教职工号"  class="layui-input">
                            </div>
                        </div>
                    </div>
                    
                    <!-- 密码 -->
                    <div class="input-container">
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                            <input type="password" name="password" required lay-verify="required"  placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    
                    <!-- 姓名   -->
                    <div class="input-container">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                        </div>
                 
                    <!-- 专业   -->
                    <div>
                        <label class="layui-form-label">专业</label>
                        <div id="select-box">
                            <select name="major" lay-verify="">
                                <option value="">管理员不用选择</option>
                                <option value="人力资源">人力资源</option>
                                <option value="信息管理与信息系统">信息管理与信息系统</option>
                                <option value="市场营销">市场营销</option>
                                <option value="国际商务">国际商务</option>
                                <option value="工程管理">工程管理</option>
                                <option value="物流管理">物流管理</option>
                                <option value="国际经济与国际贸易">国际经济与国际贸易</option>
                            </select>  
                        </div>
                        
                    </div>
                    </div>
                           
                    
                    <!-- 联系方式 -->
                    <div class="input-container">
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系方式</label>
                            <div class="layui-input-block">
                            <input type="text" name="phone" required lay-verify="required"  placeholder="手机号码" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <button id="regist-btn" class="layui-btn" lay-submit lay-filter="formDemo">注册</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <script>
        let regist = (loginData)=>{
            console.log(loginData);
            $.ajax({
                url: "__PUBLIC__/index/user/regist",
                type: "post",
                data: loginData,
                success:(response)=>{
                    response = JSON.parse(response);
                    console.log(response);
                    if(response.code!=="0000"){
                        layer.msg(response.msg);
                        return;
                    }
                    // location.href="index.html";
                }
            });
        }
        layui.use(['form'], function(){
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function(data){
                // layer.msg(JSON.stringify(data.field));
                console.log(data.field);
                regist(data.field)
            });
        });
   
    </script>
</body>

</html>



